{% extends "base.html" %}

{% block content %}
<h1>Add Post for {{user.full_name}}</h1>

<div id="new_post_div">
    <form name="new_post" method="POST" action="/users/{{user.id}}/posts/new">
        <p>Title</p><input type="text" default="Post Title" name="post_title" width="75%">
        <p>Post Content</p><input type="textarea" default="Post Content" name="post_content" rows="4" width="75%">
        <div name="tags">
            <h3>Tags:</h3>
            {% for t in tags %}
            <input type="checkbox" id="{{t.id}}" name="{{t.id}}" value="{{t.id}}">
            <label for="tag{{t.id}}">{{t.name}}</label>
            {% endfor %}
        </div>
        <br><button>Submit New Post</button>
    </form>

    <form method="GET" action="/users/{{user.id}}">
    <a href="/users/{{user.id}}"><button>Cancel</button></a>
    </form>
</div>

{% endblock %}