{% extends "base.html" %}

{% block title %}
    Editing '{{post.title}}''
{% endblock %}

{% block content %}
<h1>Post</h1>

    <form name="edit_post" method="POST">
        <label for="title">Title </label>
        <input type="text" name="post_title" id="title" value = "{{post.title}}"><br />

        <label for="content">Content </label>
        <textarea rows="4" cols="50" name="post_content" id="content">{{post.content}}</textarea>
        <br />

        <button action='/posts/{{post.id}}/edit'>Save Changes</button>
    </form>
    <a href="/posts/{{post.id}}"><button>Cancel Editing</button></a>
{% endblock %}