{% extends "base.html" %}

{% block title %}
    Welcome
{% endblock %}


{% block homelink %}
<p><a href="/">Go Home</a></p>
{% endblock %}
{% block content %}

<p><a href="/users">Go to Users Page</a></p>
<p><a href="/tags">View Tags</a></p>
<p><a href="/tags/new">Add a new tag</a></p>

<h1>Most Recent Posts</h1>




<ul>
{% for p in posts %}
    <h2><a href="/posts/{{p.id}}">{{p.title}}</a></h2>
    <p>{{p.content}}</p>
    <p>By {{p.user.full_name}} on {{friendly_date(p.created_at)}}</p>
{% endfor %}
</ul>

{% endblock %}